@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans';
}

:root {
  --primary: #1888ff;
}

.btn{
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 18px;
  color: white;
  cursor: pointer;
  background-color: var(--primary);
  transition: all 0.3s;
}

.btn:hover {
  padding: 6px 18px;
  background-color: transparent;
  color: white;
  border-radius: 4px;
  border: 2px solid var(--primary);
}

.dropdown-menu {
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: none;
}

.dropdown-menu li {
  background: #1888ff;
  cursor: pointer;
}

.dropdown-menu li:hover{
  background: #5cabff;
}